body {
    background: #e0e0e0
}

#banner {
    width: 100%;
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: rgb(35, 52, 146);
}